* {
	background-color: #00001a;
}

#bem-aqui {
	margin: auto;
	padding: 0px;
}

#heading {
	margin: auto;
	padding: 100px;
}



#submit {
	margin: auto;
	color: grey;
}

#type {
	background-color: white;
}

#astrology {
	margin: auto;
	padding: 70px;
}