* {
	background-color: #00001a;
}

#heading {
	display: block;
    margin-left: 100px;
    margin-right: 50px;
}



#submit {
	margin: auto;
	color: #d9d9d9;
}

#type {
	background-color: white;
	
}

#astrology {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#pic {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
	
#yourSign {
	font-size: 34px;
	font-color: black;
	text-align: center;
}

#yourHoroscope {
	font-size: 50px;
	text-align: center;
}